.header{
    width: 400px;
    height: 100px;
    background-color: #141f40;
}

.main{
    display: flex;
}

.left{
    width: 150px;
    height: 250px;
    background-color: #80bfa8;
}

.center{
    width: 150px;
    height: 50px;
    background-color: #dbd400;
}

.center2{
    width: 150px;
    height: 100px;
    background-color: #0093b7;
    margin-top: 50px;
}

.center3{
    width: 250px;
    height: 100px;
    background-color: #8c2727;
}

.right{
    width: 100px;
    height: 150px;
    background-color: #ff9e6b;
}

.footer{
    width: 400px;
    height: 100px;
    background-color: #d98d30;
}

.conteiner_sp{
    display: none;
}


@media(max-width:767px){

    .conteiner_sp{
        display: none;
    }

    .header{
        width: 300px;
        height: 100px;
        background-color: #141f40;
    }
    
    .main{
        display: flex;
    }
    
    .left{
        width: 100px;
        height: 250px;
        background-color: #80bfa8;
    }
    
    .center{
        width: 125px;
        height: 50px;
        background-color: #dbd400;
    }
    
    .center2{
        width: 150px;
        height: 100px;
        background-color: #0093b7;
        margin-top: 50px;
    }
    
    .center3{
        width: 200px;
        height: 100px;
        background-color: #8c2727;
    }
    
    .right{
        width: 75px;
        height: 150px;
        background-color: #ff9e6b;
    }

    .footer{
        width: 300px;
        height: 100px;
        background-color: #d98d30;
    }

    @media(max-width:479px){

        .conteiner_pc{
            display: none;
        }

        .conteiner_sp{
            display: block;
        }

        .item1{
            width: 150px;
            height: 100px;
            background-color: #141f40;
        }

        .item2{
            width: 150px;
            height: 100px;
            background-color: #80bfa8;
        }

        .item3{
            width: 150px;
            height: 100px;
            background-color: #ff9e6b;
        }

        .item4{
            width: 150px;
            height: 50px;
            background-color: #dbd400;
        }

        .item5{
            width: 150px;
            height: 100px;
            background-color: #0093b7;
        }

        .item6{
            width: 150px;
            height: 100px;
            background-color: #8c2727;
        }

        .item7{
            width: 150px;
            height: 100px;
            background-color: #d98d30;

        }
    }
}